body {
  margin: 0;
  padding: 0;
}
#video-grid {
  display: flex;
  justify-content: center;
}

video {
  height: 300px;
  width: 400px;
  object-fit: cover;
  margin-left: 4px;
  margin-right: 4px;
}

.main {
  height: 100vh;
  display: flex;
}

.main__left {
  flex: 0.8;
  display: flex;
  flex-direction: column;
}

.main__controls {
  display: flex;
  background-color: black;
  color: white;
  padding: 5px;
  justify-content: space-between;
}

.main__controls__block {
  display: flex;
}

.main__controls__button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8px;
  min-width: 80px;
  cursor: pointer;
}

.main__controls__button i {
  font-size: 19px;
}

.main__controls__button:hover {
  background-color: rgb(66, 66, 66);
  border-radius: 5px;
}

.main__videos {
  display: flex;
  flex-grow: 1;
  justify-content: center; /*align items vertically*/
  align-items: center;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRMUhfDZHVnnf7B6kRlx6yTDPa_k4U89TlSTQ&usqp=CAU");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.main__right {
  flex: 0.2;
  display: flex;
  flex-direction: column;
  background-color: rgb(67, 34, 97);
}

.main__chat_window {
  flex-grow: 1;
  overflow-y: scroll;
}

.main__header {
  color: #f5f5f5;
  text-align: center;
  padding-top: 1em;
}

.main__message_container {
  padding: 22px 12px;
  display: flex;
}

.main__message_container input {
  flex-grow: 1;
  background-color: white;
  border-radius: 25px;
  border: none;
  color: black;
  height: 2em;
}

input:focus {
  outline: none !important;
}

.messages {
  color: white;
  list-style: none;
}

.unmute {
  color: red;
}

.stop {
  color: red;
}

.messages {
  list-style: none;
}
